{%- for children in include.parent.items -%}
    {%- if children.items -%}
        {% include add_active_urls.html
            parent = children %}
    {%- endif -%}

    <!-- Here we have already added the activeURL for the children, so we verify
    if the children is set as active. If so, the parent should be active as well. -->
    {%- if children.url == page.url or activeUrls contains children.url -%}
        <!-- Set the parent as active -->
        {%- assign activeUrls = activeUrls | push: include.parent.url -%}
    {%- endif -%}
{%- endfor -%}
