<ul class="nav-list">
    {%- for section in site.data.navigation.sections -%}
        {%- assign activeUrls = page.url | split: ',' -%}

        <!-- This recursively sets the `activeUrls` parameter with all the URLs that are in the navigation stack -->
        {% include add_active_urls.html
            parent = section
            activeUrls = activeUrls %}

        <!-- This recursively includes all the content within a section -->
        {% include nav_section.html
            activeUrls = activeUrls %}
    {%- endfor -%}
</ul>
